<launch>
    !--rosparam set use_sim_time true--
    <param name="use_sim_time" value="true" />  
    <param name="/global_user" value="0" type="str"/>     
   
    <node name="human_env" pkg="humanpy" type="humkinect2cube.py" respawn="false" output="screen"/>
    <include file="$(find humanpy)/launch/humprediction.launch"/>       
    <include file="$(find concurrent_policy)/launch/pompds.launch"/>   
    
    
    !--
    /home/spelle/ros_ws/bag/glass/glass0_0.bag
    /home/spelle/ros_ws/bag/glass/glass1_0.bag
    /home/spelle/ros_ws/bag/glass/glass2_0.bag
    /home/spelle/ros_ws/bag/bowl/bowl1_0.bag
    /home/spelle/ros_ws/bag/bowl/bowl2_0.bag
    /home/spelle/ros_ws/bag/bowl/bowl3_0.bag
    /home/spelle/ros_ws/bag/plate/plate1_0.bag
    /home/spelle/ros_ws/bag/plate/plate2_0.bag  
    
    /home/spelle/ros_ws/bag/obj1/obj1_1_0.bag
    /home/spelle/ros_ws/bag/obj2/obj2_1_0.bag
    /home/spelle/ros_ws/bag/obj3/obj3_1_0.bag
    /home/spelle/ros_ws/bag/obj3/obj3_2_0.bag
    /home/spelle/ros_ws/bag/obj3/obj3_3_0.bag
 
    /home/spelle/ros_ws/bag/obja/obja_1.bag
    /home/spelle/ros_ws/bag/obja/obja_2.bag
    /home/spelle/ros_ws/bag/objb/objb_1.bag
    /home/spelle/ros_ws/bag/objc/objc_1.bag
 
    --
  
    
    <node pkg="rosbag" type="play" name="player" output="screen" args="--hz=200 -q --duration=22 --delay=1 --clock /home/spelle/ros_ws/bag/obja/obja_2.bag"/>
    
</launch>